@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    color: #A78BFA;
    border-bottom: 2px solid #A78BFA !important;
}

.countryCards:hover h3 {
    text-decoration: underline;
}

.panel {
    overflow: hidden;
    height: 0;
    transition: height .5s;
}

.panelOpen {
    height: 48vh;
}